.task1 .item {
  transform: translate(200px,150px);
}

.task2  {
    transform: translate(calc(100% / 2 - 40px),calc(100% / 2 - 40px));
}

.task3 .item {
  position: fixed;
  top: 0;
  left: 0; 
}

.container4 {
  position: relative;
}

.task4 {
  width: 1000px;
  position: relative; 
}
.task4 .item {
  position: sticky;
  top: 0;
  left: calc( 500px - 120px);
}

.task5 .item1 {
  background-color: red;
  position: relative;
  left: 20px;
  top: 20px;
  z-index: 2;
}
.task5 .item2 {  
  position: absolute;
  left: 40px;
  top: 40px;
  z-index: 1;
}

.task5 .item3 {
  background-color: green;    
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}

.task6 .item {
  float: left;
}

.task7 .item {
  float: right;
}

.task8 .item1 {
  float: left;
}
.task8 .item2 {
  height: 120px;
  float: right;
}

.task8 p {
  float: right;
}

.task9 .item1 {
  height: 200px;
  float: left;
  display: inline-block;  
}
.task9 .item2 {
    position: relative;
    float: none;
    right: calc(-100% + 90px);
}
.task9 p {
}

.task10 .item1 {
  /* height: 200px; */
  float: none;
  display: inline-block;  
}
.task10 .item2 {
    height: 200px;
    position: relative;
    float: right;
}
.task10 p {
}

.task11 .img-item {
  width: 100%;
  object-fit: contain;
}

.task12 .img-item {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.task13 .img-item {
  height: 100%;
  width: 100%;
}

.task14 .img-item {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.task15 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  object-position: right;
}

.task16 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  object-position: top left;
}

.task17 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  object-position: bottom;
}

.task18 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  object-position: 40px 25px;
}

.task19 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  object-position: center;
}

.task20 {
  user-select:none;
}

.task21 {
  user-select:all;
}

.task22 {
  caret-color: blue;
}

html { 
  scroll-behavior: smooth;
}
